<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Restful Web Application</display-name>

	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>ch.claimer.webservice.routes.BasicRoute, ch.claimer.webservice.routes.CommentRoute, ch.claimer.webservice.routes.ContactRoute, ch.claimer.webservice.routes.GCEmployeeRoute,  ch.claimer.webservice.routes.ImageRoute,   ch.claimer.webservice.routes.IssueRoute, ch.claimer.webservice.routes.ProjectRoute, ch.claimer.webservice.routes.SCEmployeeRoute, ch.claimer.webservice.routes.SubcontractorRoute, ch.claimer.webservice.routes.SupervisorRoute</param-value>
	</context-param>
	
	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>ch.claimer.webservice.routes.SecurityFilter</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
