<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
   <session-factory>
   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
   <property name="hibernate.connection.url">jdbc:mysql://localhost/claimer</property>
   <property name="hibernate.connection.username">claimer</property>
   <property name="hibernate.connection.password">claimer</property>
   <property name="show_sql">true</property>
   <property name="hibernate.current_session_context_class">thread</property>
   <property name="hbm2ddl.auto">update</property>
   <mapping class="ch.claimer.shared.models.Category"/>
   <mapping class="ch.claimer.shared.models.Comment"/>
   <mapping class="ch.claimer.shared.models.Company"/>
   <mapping class="ch.claimer.shared.models.Contact"/>
   <mapping class="ch.claimer.shared.models.GCEmployee"/>
   <mapping class="ch.claimer.shared.models.GeneralContractor"/>
   <mapping class="ch.claimer.shared.models.Image"/>
   <mapping class="ch.claimer.shared.models.Issue"/>
   <mapping class="ch.claimer.shared.models.LogEntry"/>
   <mapping class="ch.claimer.shared.models.Login"/>
   <mapping class="ch.claimer.shared.models.Model"/>
   <mapping class="ch.claimer.shared.models.Person"/>
   <mapping class="ch.claimer.shared.models.Project"/>
   <mapping class="ch.claimer.shared.models.Role"/>
   <mapping class="ch.claimer.shared.models.SCEmployee"/>
   <mapping class="ch.claimer.shared.models.State"/>
   <mapping class="ch.claimer.shared.models.Subcontractor"/>
   <mapping class="ch.claimer.shared.models.Supervisor"/>
   <mapping class="ch.claimer.shared.models.Type"/>
   
</session-factory>
</hibernate-configuration>
