#body {
	-fx-background-color: #e9e3df;
}

#navigation {
	-fx-background-color: #76746f;
}

#navigation .navButton {
	-fx-background-color: #76746f;
	-fx-background-radius: 0, 0, 0;
	-fx-background-insets: 0,0,0;
	-fx-text-fill: #fff;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
}
