.root{
	-fx-font-size: 12pt;
	-fx-font-family: 'Roboto Condensed', sans-serif;
	-fx-base: #FFF;
	-fx-background: #FFF;
	-fx-focus-color: #FFF;
}

.header {
	-fx-background-color: #A4C5D4;
	-fx-padding: 0;

}

.header-title {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 32px;
	-fx-font-weight: 300;
}

.header-name {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 18px;
	-fx-font-weight: 400;
	-fx-background-color: #A4C5D4;
	-fx-padding: 5px 20px;
}

.header-split-button {
	-fx-color: #A4C5D4;
	-fx-background-color: #60AACC;
	-fx-background-radius: 0px, 0px;

}

.header-split-button:hover {
	-fx-color: #A4C5D4;
	-fx-background-color: #60AACC;
	-fx-background-radius: 0px, 0px;
}

.navigation {
	-fx-background-color: #60AACC;
}

.navigation .navigation-button {
	-fx-background-color: #60AACC;
	-fx-background-radius: 0, 0, 0;
	-fx-background-insets: 0,0,0;
	-fx-font-weight: 400;
	-fx-font-size: 16px;
	-fx-padding: 10px 20px;
	-fx-cursor: hand;
}

.navigation .navigation-button:hover {
	-fx-background-color: #A4C5D4;
}

.lbl_title{
	-fx-font-weight: bold;
}

.button {
	-fx-background-color: #60AACC;
    -fx-background-radius: 2,2,2;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: #FFF;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.3) , 1, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #487F99;
}

.add-button {
	  -fx-graphic: url('../../../../add.png');
	  -fx-graphic-text-gap: 10px;
}

.delete-button {
	-fx-graphic: url('../../../../delete.png');
	-fx-graphic-text-gap: 10px;
}

.upload-button {
	-fx-graphic: url('../../../../upload.png');
	-fx-graphic-text-gap: 10px;
}

.save-button {
	-fx-graphic: url('../../../../save.png');
	-fx-graphic-text-gap: 10px;
}

.back-button {
	-fx-graphic: url('../../../../back.png');
	-fx-graphic-text-gap: 10px;
}
   
/* .label{
	-fx-background: #E6E2E1;
	-fx-text-fill: #777777;
} */
	
#lbl_mangelmanager{
	-fx-background-color: #A4C5D4;
	-fx-text-fill: #FFF;
	-fx-font-weight: lighter;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.3) , 1, 0.0 , 0 , 0 );
    -fx-padding: 10px 0 10px 20px; 
}

#lbl_warnung{
	-fx-text-fill: #FF0000;
	-fx-text-alignment: center;
}

#body {
	-fx-background-color: #FFF;
}


.lblViewTitle {
	-fx-color: black;
	-fx-font-weight: bold;
	-fx-font-size: 20px;
	-fx-padding: 0px 0px 20px 0px;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}
